
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@import '~antd/dist/antd.css';
:root {
    --small-text: 13px;
    --normal-text: 17px;
    --big-text: 23px;
    --bigger-text: 29px;
    --primary-font: 'Poppins', sans-serif;
    --second-font: 'Lobster', cursive;
    --primary-color: #ff514e;
    --second-color: #fbb403;
    --black-color: #000;
    --silver-color: #656565;
}

